extends layout

block content
    div(id="resize")
        div(id="container" class="fit")
            div(class="plot")
                div(class="divChart")                
                    canvas(id="chart1")

    script(src="js/index.js")

